{
  "semi": false,
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "overrides": [
    {
      "files": "theme/assets/*.js",
      "options": {
        "semi": true
      }
    }
  ]
}
